@font-face {
    font-family: myFont;
    src: url("../fonts/YanoneKaffeesatz-Regular.ttf");
}

@font-face {
    font-family: paragraph;
    src: url("../fonts/Podkova-Medium.ttf");
}

body {
    font-size: 15px !important;
}

body, a, h1, h2, h3, h4, h5, h6 {
    font-family: myFont !important;
}

p {
    font-family: paragraph !important;
    font-size: 16px;
}

.accordation_menu input:checked + label, .accordation_menu input:checked + label:hover {
    font-family: myFont !important;
}

p.js-display-summary {
    font-size: 14px;
}

h3.title-head {
    text-transform: uppercase !important;
}

.articles {
    margin-top: 2em;
    margin-bottom: 2em;
}

.article {
    margin: 1.5em 0 0 0;
    padding-bottom: 1.5em;
}

h3 {
    font-size: 2em !important;
}

.life-style-left-grid {
    padding: 5px;
    margin-right: 2%;
}

p.summary {
    margin-top: 10px;
}

.italic {
    font-style: italic;
}

.title-small {
    font-size: 20px !important;
}

a.title {
    font-size: 1.7em !important;
}

.store-pages {
    list-style-type: none;
}

.list-title {
    font-size: 17px !important;
}

a.my-thumbnail {
    display: block;
    height: 250px;
}

a.my-thumbnail > img {
    height: 100%;
}

.VCSortableInPreviewMode {
    width: 100%;
}

.VCSortableInPreviewMode > div:first-child {
    padding: 20px;
    text-align: center;
}

.VCSortableInPreviewMode > div:first-child > div {
    display: inline-block;
}

.VCSortableInPreviewMode > div:first-child > img {
    max-width: 100%;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.last-article p {
    padding: 7px 0;
}

ul.store-pages {
    float: right;
}

ul.store-pages li {
    display: inline-block;
    margin: 0 7px;
}

ul.store-pages li.active {
    font-weight: 800;
}

.response {
    margin-top: 30px;
    overflow-x: auto;
}

table.valign-middle td {
    vertical-align: middle !important;
}

.ads {
    width: 100%;
}

.ads img {
    width: 100%;
}

.summary {
    position: relative;
    min-height: 80px;
}

.js-expand-summary {
    position: absolute;
    right: 0;
    bottom: -20px;
}

.theme-button {
    background: #84754e;
    border: 1px solid #f4f4f4;
    width: 100%;
    color: #fff;
    letter-spacing: 0.5px;
    outline: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}