@font-face {
    font-family: myFont;
    src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-size: 13px;
}

body, a, h1, h2, h3, h4, h5, h6, p {
    font-family: myFont !important;
}

.articles {
    margin-top: 3em;
}

h3 {
    font-size: 2em !important;
}

.life-style-left-grid {
    padding: 5px;
    margin-right: 2%;
}

p.summary {
    margin-top: 10px;
}

.italic {
    font-style: italic;
}

.title-small {
    font-size: 20px !important;
}

a.title {
    font-size: 1.7em !important;
}

.store-pages {
    list-style-type: none;
}

.list-title {
    font-size: 1.5em !important;
}

a.my-thumbnail {
    display: block;
    height: 250px;
}

a.my-thumbnail > img {
    height: 100%;
}

.VCSortableInPreviewMode {
    width: 100%;
}

.VCSortableInPreviewMode > div:first-child {
    padding: 20px;
    text-align: center;
}

.VCSortableInPreviewMode > div:first-child > div {
    display: inline-block;
}

.VCSortableInPreviewMode > div:first-child > img {
    max-width: 100%;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.last-article p {
    padding: 7px 0;
}

ul.store-pages {
    float: right;
}

ul.store-pages li {
    display: inline-block;
    margin: 0 7px;
}

ul.store-pages li.active {
    font-weight: 800;
}